<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style="margin: 5%">
        <p><b>Hi, my name is Chiyoung Lee and I’m a Data Scientist based in Los Angeles, CA.</b></p>
        <p>I currently work at an ad company called DEPT®. I've worked with clients like Meta, Skechers, and Dynatrace. 
          I'm passionate about using technology to help brands connect with new customers and help them grow! 
          Before becoming a Data Scientist, I worked in animation production at Adult Swim. Even in Animation, 
          I used data to grow audiences through social media. 
          The thing I find the most exciting about Data Science is problem-solving and a chance to constantly learn new tools and technologies!</p>
          <p>I am proficient in Python, R, and SQL. I'm also experienced in machine learning, data visualisation, NLP, and data wrangling.
          </p>
      </div>
      <div class="margin: 5%">
        <p></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://drive.google.com/file/d/10ejx2plcmp92021AWzCWMN2FlKLT2zqY/view?usp=sharing" target="blank" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Resume
        </a>
      </div>
    </div>
  </div>
</section>
