<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Contact Me</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
      <p>This is my email address</p>
    </div>
  </div>
        <div class="col-lg-12 text-center">
        <p><a href "mail to: chiyounglee@protonmail.com">chiyounglee@protonmail.com</a></p>
      </div>
        </form>
      </div>
    </div>
  </div>
</section>
